= link_to "Ask a question", new_question_path if can? :create, Question
%br
%br
.question-list
 - @questions.each do |question|
  .question
   = link_to question.title, question_path(question), html: { class: "question-link", id: "#{question.id}" }
  %br
 / = subscribe_to '/questions'(pivate_pub)