.user-page
 .subscriptions-block
  = form_for current_user ,remote: true do |f|
   = f.label :subscibe_on_digest, "Digest subscribtion"
   = f.check_box :subscibe_on_digest, id: "user-digest-subscribtion"
  %hr
  - current_user.subscribtions.each do |subscribtion|
   = link_to subscribtion.question.title, question_path(subscribtion.question)