%h3 Question Title
= @question.title
%br
%h3 Question Content
= @question.content
%br
%h3 Question Answers
- @question.answers.each do |answer| 
 = answer.content
 %hr
= link_to 'Offer solution', new_question_answer_path(@question)

%h3 Question Show
%p // if user_signed_in?