= form_for [question, question.answers.new], remote: true, html: {class: "new_answer"} do |f|
 = f.label :content, 'Form for Answer'
 %br
 = f.text_field :content
 / #attache-file-to-answer
 /  = f.fields_for :attachable do |attache|
 /   = render 'layouts/attachment_fields', f: attache
 / = link_to_add_association 'add file', f, :attachments, partial: 'layouts/attachment_fields', class: "add-fields-link"
 / = link_to_remove_association "remove file", f
 %br
 = f.submit 'Provide an answer'
 %hr