- if answer.persisted? && user_signed_in? && current_user.is_author_of?(answer.question)
 = form_for answer, remote: true do |f|
  = f.label :best_answer, 'Is this Answer The Best?'
  = f.check_box :best_answer, { class: 'vote-check-box' }