%h1 Hello, if You see this page, then you need to confirm your email.
= form_for @user, url: email_confirm_path(params[:id]) do |f|
 = f.label :email
 = f.email_field :email, value: ""
 = f.submit "Send me an email"