$standart_border: solid 1px black;
@mixin non_link_button(){
  user-select: none;
  margin: 0px auto;
  cursor: default;
  width: 220px;
  height: 20px;
  border: $standart_border;
  z-index: -1;
  padding: 5px;
  p{
    margin: 0px;
    user-select: none;
  }

}
.button-ranknig{
  @include non_link_button;
}