// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$standart_border: solid 1px black;
@mixin non_link_button(){
  user-select: none;
  margin: 0px auto;
  cursor: default;
  width: auto;
  height: 20px;
  border: $standart_border;
  z-index: -1;
  padding: 5px;
  p{
    margin: 0px;
    user-select: none;
  }

}
.edit_question_form{
//  display:none;
}
.edit_answer_form{
//  display:none;
}
.button{
  @include non_link_button;
}

.button-answer{
  @include non_link_button;
  }
.attached-files{
  border: $standart_border;
}