// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit_question_form{
  display:none;
}
.edit_answer_form{
  display:none;	
}
.button{
  margin: 0px auto;
  cursor: default;
  width: 90px;
  height: 20px;
  background: yellow;
  z-index: -1;
}