.searching_form
 = form_tag "/searchings", method: "post", remote: true, id: "search_form" do
  = select_tag "area", options_for_select(["Global", "User", "Question", "Answer", "Comment"])
  = search_field_tag "query", "please type text here"
  = submit_tag "Search"
.search_result