.subscribe-form
 - if parent_object.persisted? && user_signed_in? && !current_user.is_author_of?(parent_object)
  - if current_user.subscribtions.where(subscribtable: parent_object).first
   = button_to "Unsubscribe", subscribtion_path(current_user.subscribtions.where(subscribtable: parent_object).first), remote: true, method: :delete
  - else
   = form_for [parent_object, parent_object.subscribtions.new], remote: true do |i|
    = i.submit "Subscribe"
