.comment
 - if comment.persisted?
  %p="User #{comment.user_id} says:"
  %strong= comment.content
  - unless current_user.is_author_of?(comment)
   = link_to 'Delete my comment', plymorphic_path(comment.parent, comment), method: :delete 
